*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  border:none;
  border-radius:5px;
  color:whitesmoke;
  background-color: steelblue;
  padding:.5rem;
  cursor: pointer;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width:90%;
  margin:auto;
  justify-content:center;
}
